@import 'reset';

$black:#000000;

body{

        
    header{


    }

    .container{
        
        display: flex;
        flex-wrap: wrap;


        .card{

            border: 1px $black;
        }
    }




}